    body{
        background: url('/app-assets/images/backgrounds/login_background.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-size: cover;
        background-position: center;
    }
    p{
        color: red;
        font-size: 12px;  
    }